

@model DisplayTemplatesEditorTemplates.Models.Cliente

@{

    List<SelectListItem> sexos = new List<SelectListItem>{
                new SelectListItem{ Value="Masculino", Text="Masculino"},
                new SelectListItem{ Value="Femenino",Text="Femenino"},
            };

}

<div class="col-md-3 mb-2">
<div class="card">

<div class="card-header text-right p-2">
<a asp-controller="Clientes" asp-action="Delete"
asp-route-id="@Model.Id" class="m-0 btn btn-danger">X</a>
</div>

<div class="card-body pt-0">
<h5 class="card-title">@Model.Nombre</h5>
<p class="card-text">
<form asp-controller="Clientes" asp-action="Edit" method="post">
<input asp-for="@Model.Id" required/>

<div class="form-group">
<label> Nombre </label>
<input  class="form-control" asp-for="@Model.Nombre"  required/>
</div>

<div class="form-group">
<label> Email </label>
<input class="form-control" asp-for="@Model.Email"  required/>
</div>

<div class="form-group">
<label>Telefono </label>
<input class="form-control" asp-for="@Model.Telefono" required/>
</div>

<div class="form-group">
<label>Sexo </label>
<select class="form-control" asp-for="@Model.Sexo" asp-items="@sexos">
</select>
</div>

<button type="submit" class="btn btn-primary">Guardar cambios</button>

</form>
</p>
</div>


<div class="card-footer text-muted text-right p-1">
<!--<a asp-controller="Clientes" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-outline-info">Ver</a>
<a asp-controller="Clientes" asp-action="Edit"  asp-route-id="@Model.Id" class="btn btn-outline-info">Editar</a>-->
</div>

</div>
</div>